[Unit]
Description=Gunicorn daemon para ECC Nacional Django
After=network.target

[Service]
User=thyago
Group=thyago
WorkingDirectory=/home/thyago/eccnacional
EnvironmentFile=/home/thyago/eccnacional/.env
ExecStart=/home/thyago/eccnacional/.venv/bin/gunicorn --config /home/thyago/eccnacional/gunicorn.conf.py eccnacional.wsgi:application
Restart=always
RestartSec=5
StandardOutput=append:/home/thyago/logs/eccnacional-gunicorn.log
StandardError=append:/home/thyago/logs/eccnacional-gunicorn-error.log

[Install]
WantedBy=multi-user.target